* {
    margin: 0;
    padding: 0;
}

body {
    background: #FAFAFA;
}

input {
    outline: none;
    border-radius: 5px;
}

.container {
    background-color: #fff;
    text-align: center;
    width: 460px;
    height: auto;
    overflow: hidden;
    padding: 20px;
    margin: 200px auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px darkgrey;
}

.h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 22px;
}

.formset {
    margin-top: 20px;
}

.inputcontent {
    display: inline-block;
    width: 70px;
}

.inputset {
    width: 280px;
    height: 20px;
    margin-bottom: 15px;
    line-height: 20px;
    border: 1px solid #ccc;
    padding: 8px 10px 8px 10px;
    font-size: 14px;
}

.submitbutton {
    display: inline-block;
    width: 300px;
    height: 30px;
    float: right;
    margin-right: 35px;
    background: #3366CC;
    color: white;
    border: 0px;
    border-radius: 4px;
}