* {
    margin: 0;
    padding: 0;
}

body {
    background: #FAFAFA;
}

input {
    outline: none;
    border-radius: 5px;
}

.container {
    background-color: #fff;
    text-align: center;
    width: 460px;
    height: auto;
    overflow: hidden;
    padding: 20px;
    margin: 200px auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px darkgrey;
}

form {
    margin-top: 20px
}

.content {
    margin-top: 20px;
}

.inputcontent {
    display: inline-block;
    width: 70px;
}

.inputset {
    width: 280px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #ccc;
    padding: 8px 10px 8px 10px;
    font-size: 14px;
}

.h2 {
    margin-bottom: 20px;
    font-size: 22px;
}

.click {
    width: 100%;
    margin-top: 15px;
}

.forgetpassword {
    display: inline-block;
    width: 80px;
    color: #aaa;
    margin-left: 10px;
}

.register {
    display: inline-block;
    width: 120px;
    margin-right: 35px;
    float: right;
    color: #6AA8DB;
}

.tip {
    margin-top: 15px;
    color: #ffc375;
    text-align: left;
    margin-left: 110px;
}

.submitButton {
    display: inline-block;
    width: 304px;
    height: 30px;
    float: right;
    margin-right: 35px;
    background: #3366CC;
    color: white;
    border: 0;
    border-radius: 4px;
}

