* {
    margin: 0;
    padding: 0;
}

body {
    background: white;
}

.title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.whole {
    background: white;
    width: 1200px;
    height: 800px;
    margin: 0 auto;
}

.leftpart {
    width: 220px;
    float: left;
}

.rightpart {
    margin-left: 270px;
    text-align: center;
}

.list {
    list-style: none;
    float: left;
}

.row {
    width: 220px;
    height: 40px;
    text-decoration: none;
    text-align: center;
    background-color: #878787;
    color: white;
    font-size: 14px;
    border: 1px solid white;
    line-height: 40px;
    display: block;
}

.list p {
    background: #333333;
}

.goods-container, .order-container {
    border: 1px solid #eeeeee;
}

.goods-container {
    height: 420px;
}

.order-container {
    margin-top: 40px;
}

.information {
    position: absolute;
    margin-top: -15px;
    margin-left: 20px;
    background: white;
    height: 30px;
    line-height: 30px;
    border: 5px solid white;
    border-top: none;
    border-bottom: none;
}

.goodslist, .orderlist {
    width: 95%;
    margin: 20px auto 20px auto;
    border-collapse: collapse;
}

.goodslist {
    height: 250px;
}

.orderlist {
    height: 130px;
}

.inputpart {
    margin-top: 30px;
}

.inputcontent {
    float: left;
    height: 20px;
    margin-left: 22px;
    line-height: 20px;
    border: 5px solid white;
}

.inputset {
    width: 150px;
    margin-left: 10px;
    float: left;
    height: 20px;
    line-height: 20px;
}

.inputcheckbox {
    margin-right: 25px;
}

.clickcheckbox {
    height: 20px;
    vertical-align: middle;
}

.button {
    margin-top: 30px;
}

.resetbutton, .submitbutton {
    color: white;
    border: none;
    border-radius: 5px;
    background: #676767;
    float: right;
    height: 30px;
}

.resetbutton {
    width: 50px;
    margin-right: 14px;
}

.submitbutton {
    width: 100px;
    margin-right: 20px;
}

.goodslist th, .orderlist th {
    height: 40px;
    line-height: 40px;
    background: #333333;
    color: white;
    font-size: 12px;
    border: 1px solid white;
}

.goodslist td, .orderlist td {
    text-align: left;
    padding-left: 10px;
    border: 1px solid #EAEAEA;
}

.goodslist th td {
    width: 140px;
}