* {
    margin: 0;
    padding: 0;
}

body {
    background: #FAFAFA;
}

input {
    outline: none;
    border-radius: 5px;
}

.container {
    background-color: #fff;
    text-align: center;
    width: 460px;
    height: auto;
    overflow: hidden;
    padding: 20px;
    margin: 200px auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px darkgrey;
}

.h2 {
    font-size: 22px;
    margin-bottom: 12px;
}

.formset {
    margin-top: 12px;
}

.unametip {
    margin-left: 100px;
    margin-bottom: 10px;
    color: #f95163;
}

.rnametip {
    margin-left: 100px;
    margin-bottom: 10px;
    color: #f95163;
}

.sextip {
    float: right;
    margin-left: 100px;
    margin-bottom: 10px;
    color: #f95163;
}

.numbertip {
    margin-left: 100px;
    margin-bottom: 10px;
    color: #f95163;
}

.passwordtip {
    margin-left: 100px;
    margin-bottom: 10px;
    color: #f95163;
}

.inputcontent {
    display: inline-block;
    width: 70px;
}

.content {
    margin-bottom: 10px;
}

.inputset {
    width: 280px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #ccc;
    padding: 8px 10px 8px 10px;
    font-size: 14px;
}

.inputsetun {
    width: 280px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #ccc;
    padding: 8px 10px 8px 10px;
    font-size: 14px;
}

.inputsetrn {
    width: 280px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #ccc;
    padding: 8px 10px 8px 10px;
    font-size: 14px;
}

.inputsetn {
    width: 280px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #ccc;
    padding: 8px 10px 8px 10px;
    font-size: 14px;
}

.inputsetp {
    width: 280px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #ccc;
    padding: 8px 10px 8px 10px;
    font-size: 14px;
}

.radiosex {
    display: inline-block;
    width: 300px;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

.radiocontent {
    margin-left: 5px;
    margin-right: 5px;
}

.click {
    width: 100%;
    margin-bottom: 20px;
}

.login {
    margin-top: 0;
    margin-bottom: 8px;
    display: inline-block;
    width: 120px;
    margin-right: 35px;
    float: right;
    color: #6AA8DB;
}

.resetbutton {
    margin-top: 20px;
    display: inline-block;
    width: 70px;
    height: 30px;
    color: white;
    border: 0;
    border-radius: 4px;
    background: #336699;
}

.submitbutton {
    clear: both;
    display: inline-block;
    width: 70px;
    height: 30px;
    color: white;
    border: 0;
    border-radius: 4px;
    background: #3366CC;
    float: right;
    margin-right: 35px;
}